ul {
    list-style-type: none;
    display: flex;
    gap: 42px;
}

a {
    text-decoration: none;
    font-size: map-get($font-s, "small");
    color: $black;
    transition: 0.3s;

    &:hover {
        color: $primary;
    }
}
