.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 42px;

    @include sm {
        display: none;
    }
}

a {
    text-decoration: none;
    font-size: map-get($font-s, "small");
    color: $black;
    transition: 0.3s;

    &:hover {
        color: $primary;
    }
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 6px;
    border: 0;
    background-color: rgb(139, 139, 139);
    padding: 5px;


    @include sm {
        display: flex;
    }
}

.menu-slide {
    position: absolute;
    right: -30%;
    top: 75px;
    transition: 0.3s;
    padding: 20px;
    border-radius: 10px;
}

.menu {
    display: block;
    position: absolute;
    right: 25px;
    background-color: $white;
    box-shadow: -3px 3px 10px $black;
    z-index: 999;
}

.nav-bar-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
}
