* {
    font-family: $font !important;
}

h1 {
    font-size: 50px;
    line-height: 140%;
    color: black;
    font-weight: map-get($font-weight, "medium");
    max-width: 555px;

    span {
        font-weight: map-get($font-weight, "bold");
    }

    @include ex-lg {
        font-size: 40px;
    }
}

p {
    font-weight: map-get($font-weight, "regular");
    font-size: map-get($font-size, "small");
    line-height: 187%;
    color: $gray;

    max-width: 555px;
}

h2 {
    font-weight: map-get($font-weight, "medium");
    font-size: map-get($font-size, "large");
    line-height: 143%;
    color: $black;

    max-width: 380px;
}

h3 {
    font-weight: map-get($font-weight, "medium");
    font-size: 18px;
    line-height: 167%;
    color: $black;
}

.center_header_text {
    @include flex-column;
    @include flex-align-center;
}
